![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Feature engineering

- In this lab, you will use `learningSet.csv` file which you have already cloned in the previous activities. 

### Instructions

Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

- Check for null values in the numerical columns.
- Use appropriate methods to clean the columns `GEOCODE2`, `WEALTH1`, `ADI`, `DMA`,and `MSA`.
- Use appropriate EDA technique where ever necessary.

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [52]:
data = pd.read_csv('learningSet.csv')
data2 = pd.read_csv('learningSet.csv')

In [3]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### Taking numericals

In [4]:
numerical = data.select_dtypes(np.number)

In [8]:
numerical.head()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.0,NaN,NaN,NaN,0,NaN,NaN,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,1.0,6.0,9.0,16,0.0,0.0,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,NaN,3.0,1.0,2,0.0,0.0,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,NaN,1.0,4.0,2,0.0,0.0,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,1.0,3.0,2.0,60,1.0,0.0,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0

### Checking nulls

In [17]:
nulls = numerical.isna().sum()

In [22]:
nulls[nulls>0]
#There are 91 columns with nulls

AGE         23665
NUMCHLD     83026
INCOME      21286
WEALTH1     44732
MBCRAFT     52854
            ...
RAMNT_23    87553
RAMNT_24    77674
NEXTDATE     9973
TIMELAG      9973
CLUSTER2      132
Length: 91, dtype: int64

# Now we are going to deal with these columns

## <span style="color:BLUE"> GEOCODE2</span>
Geo Cluster Code indicating the level geography at which a record matches the census data. A nominal or symbolic field.
Blank=No code has been assigned or did not match at any level.

In [25]:
data.GEOCODE2.value_counts()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [33]:
data.GEOCODE2.isna().sum()

132

## <span style="color:GREEN"> WEALTH1</span>
It means wealth rating

In [26]:
data.WEALTH1.value_counts()

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

In [34]:
data.WEALTH1.isna().sum()

44732

## <span style="color:pink"> ADI</span>
ADI stands for Area of Dominant Influence. It is a geographic region that represents the television market area for a particular city or urban center in the United States. ADI is used in media research and advertising to define the primary market area in which a television station broadcasts and captures its audience.

In [27]:
data.ADI.value_counts()

13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 204, dtype: int64

In [35]:
data.ADI.isna().sum()

132

## <span style="color:purple"> DMA</span>
DMA code stands for Designated Market Area code. It is a unique identifier used in media research and advertising to define specific television and radio markets in the United States. DMA codes are assigned by Nielsen Media Research based on viewership patterns and geographic boundaries.

In [28]:
data.DMA.value_counts()

803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 206, dtype: int64

In [36]:
data.DMA.isna().sum()

132

## <span style="color:lightblue"> MSA</span>

MSA stands for Metropolitan Statistical Area. It is a geographic region defined by the U.S. Office of Management and Budget (OMB) for statistical and data collection purposes. MSAs are used to measure and analyze economic and social trends in specific urban areas in the United States.

In [29]:
data.MSA.value_counts()

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 298, dtype: int64

In [37]:
data.MSA.isna().sum()

132

We can see that ADI, DMA, and MSA depends on GEOCODE2, because they have the same amount of NaNs. Not having GEOCODE leads to not having DMA, MSA and ADI codes. We are going to prove that:

In [40]:
data.dropna(subset=['GEOCODE2'], inplace=True)

In [43]:
print("DMA NaNs:", data.DMA.isna().sum())
print("MSA NaNs:", data.MSA.isna().sum())
print("ADI NaNs:", data.ADI.isna().sum())

DMA NaNs: 0
MSA NaNs: 0
ADI NaNs: 0

We dropped GEOCODE rows with NaNs and we also got rid of DMA, MSA and ADI NaNs, so it justifies what we said before.

But now, what happens with the rows that had empty values in GEOCODE, what value do they have in MSA, ADI and DMA?

In [49]:
selected_columns = data.loc[data['GEOCODE2'] == ' ', ['GEOCODE2', 'DMA', 'ADI', 'MSA']]

print(selected_columns)b

      GEOCODE2  DMA  ADI  MSA
183             0.0  0.0  0.0
262             0.0  0.0  0.0
399             0.0  0.0  0.0
945             0.0  0.0  0.0
1137            0.0  0.0  0.0
...        ...  ...  ...  ...
93162           0.0  0.0  0.0
93344           0.0  0.0  0.0
94971           0.0  0.0  0.0
95019           0.0  0.0  0.0
95183           0.0  0.0  0.0

[187 rows x 4 columns]

So, when we do not have the GEOCODE2, the values of the codes are 0. SO I think that we should do the same instead, we will replace empty and NaN values of GEOCODE with an U (Unknown) and the NaNs of MSA, DMA and ADI with zeros.

In [ ]:
data2['GEOCODE2'].fillna('U', inplace=True)
data2['GEOCODE2'].replace(' ', 'U', inplace=True)

columns_to_fill = ['DMA', 'MSA', 'ADI']
data2[columns_to_fill] = data2[columns_to_fill].fillna(0)
data2[columns_to_fill] = data2[columns_to_fill].replace(' ', 0)

print(data2[columns_to_fill])

In [61]:
print("GEOCODE2 NaNs:", data2.GEOCODE2.isna().sum())
print("DMA NaNs:", data2.DMA.isna().sum())
print("MSA NaNs:", data2.MSA.isna().sum())
print("ADI NaNs:", data2.ADI.isna().sum())

GEOCODE2 NaNs: 0
DMA NaNs: 0
MSA NaNs: 0
ADI NaNs: 0

In [101]:
data2.GEOCODE2.value_counts()

A    34484
B    28505
D    16580
C    15524
U      319
Name: GEOCODE2, dtype: int64

In [62]:
data2.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### Let's get back to WEALTH1

In [64]:
numerical2 = data2.select_dtypes(np.number)
correlation_matrix = numerical2.corr()

correlations = data2.corr()['WEALTH1']

print(correlations)

ODATEDW     0.062001
TCODE      -0.006437
DOB         0.121114
AGE        -0.112801
NUMCHLD     0.025711
              ...
TARGET_B    0.011249
TARGET_D    0.024867
HPHONE_D   -0.017367
RFA_2F     -0.052808
CLUSTER2   -0.669403
Name: WEALTH1, Length: 407, dtype: float64

In [95]:
print(correlations[abs(correlations)>0.7])

WEALTH1    1.000000
WEALTH2    0.869431
IC2        0.709275
IC3        0.700671
IC4        0.718460
Name: WEALTH1, dtype: float64

In [92]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# Select the top 10 most correlated columns with 'WEALTH1'
top_10_columns = data2.corr()['WEALTH1'].abs().nlargest(11).index.tolist()[1:]

# Create a new DataFrame with the selected columns and rows where 'WEALTH1' is not null
data2_subset = data2[top_10_columns + ['WEALTH1']].dropna()

# Separate the features (X) and target (y)
X = data2_subset[top_10_columns]
y = data2_subset['WEALTH1']

# Train a random forest regressor model
model = RandomForestRegressor().fit(X, y)

# Select rows where 'WEALTH1' is null
data2_nulls = data2[data2['WEALTH1'].isnull()][top_10_columns]

# Handle missing values in data2_nulls by imputing with column means
data2_nulls = data2_nulls.fillna(data2_nulls.mean())

# Predict the missing values using the trained model
predictions = model.predict(data2_nulls)

# Round the predictions to the nearest whole number
predictions = predictions.round().astype(int)

# Update the 'WEALTH1' column with the predicted values
data2.loc[data2['WEALTH1'].isnull(), 'WEALTH1'] = predictions

## Conclusions

<div class="alert alert-success">
    Basically, for the column GEOCODE2 we kept the style it had, using U (Unknown) as the value for the NaNs and the empty values, and for DMA, MSA and ADI codes we replaced these values with '0'. However, regarding column WEALTH1 we predicted the missing values using RandomForestRegressor.
</div>

In [98]:
data2.WEALTH1.value_counts()

5.0    17438
6.0    12444
4.0    11227
7.0    10694
9.0     9442
8.0     9296
3.0     9277
2.0     7178
1.0     5262
0.0     3154
Name: WEALTH1, dtype: int64

In [100]:
data2.WEALTH1.isna().sum()

0